n8n/n8n-workflow.json
{
  "name": "Slack to Local Service Extended",
  "nodes": [
    {
      "parameters": {
        "jsCode": "if ($json[\"type\"] === \"url_verification\") {\n  return [\n    {\n      json: {\n        challenge: $json[\"challenge\"]\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: $json\n    }\n  ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        32
      ],
      "id": "e78c3547-384f-4bce-9993-629904ce4b25",
      "name": "Respond to Slack Verification",
      "disabled": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5000/receive-message",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "message",
              "value": "={{ $('Webhook: Slack Raw Technical Task Receiving').item.json.body.message }}"
            }
          ]
        }
      },
      "name": "Business Analyst: Raw Technical Task Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "addb3852-a528-4c03-9c14-21d2e37fa657"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5001/process-task",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json.tasks }}"
      },
      "name": "Programmer: Technical Task Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "b7c5cc3d-a383-4b68-af44-c54bfef41e89"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5002/run-code",
        "jsonParameters": true,
        "options": {}
      },
      "name": "Code Runner: Source Code Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        928,
        0
      ],
      "id": "d064e59c-c087-49f4-8f5d-19ee6086e44e",
      "disabled": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5001/receive-code-runner-result",
        "jsonParameters": true,
        "options": {}
      },
      "name": "Programmer: Code Runner Result Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "306b8b89-30bb-466a-9ad2-9eae0da10a8a",
      "disabled": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5000/receive-task-completion-result",
        "jsonParameters": true,
        "options": {}
      },
      "name": "Business Analyst: Task Completion Result Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1312,
        0
      ],
      "id": "201bf5e8-2a08-4c36-a5cc-e06dece91d98",
      "disabled": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09PH87TE0P",
          "mode": "id"
        },
        "text": "={{ $('Programmer: Technical Task Send').item.json.task }}\n\n{{ $('Programmer: Technical Task Send').item.json.completionResult }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1488,
        0
      ],
      "id": "f1303a14-5584-4420-b649-c7b043c85b2c",
      "name": "Send a message",
      "webhookId": "45abbc3d-4518-4137-85c3-d493c9950ca5",
      "credentials": {
        "slackApi": {
          "id": "lnQR4ZnQgVz6Jbp5",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook: Slack Raw Technical Task Receiving",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "2333a718-7bac-4c85-bced-71e74e7bc15b",
      "webhookId": "c077c48b-8437-4275-b5d6-a79b771e84eb",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Respond to Slack Verification": {
      "main": [
        [
          {
            "node": "Business Analyst: Raw Technical Task Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Analyst: Raw Technical Task Send": {
      "main": [
        [
          {
            "node": "Programmer: Technical Task Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Programmer: Technical Task Send": {
      "main": [
        [
          {
            "node": "Code Runner: Source Code Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Runner: Source Code Send": {
      "main": [
        [
          {
            "node": "Programmer: Code Runner Result Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Programmer: Code Runner Result Send": {
      "main": [
        [
          {
            "node": "Business Analyst: Task Completion Result Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Analyst: Task Completion Result Send": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Slack Raw Technical Task Receiving": {
      "main": [
        [
          {
            "node": "Respond to Slack Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "16fb5a6e-3acc-400e-bfa5-39f0ca8816e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4352f804d67fe822106d2b772100f63681ce2cdfe768e92e566402a4b76a14ad"
  },
  "id": "IkSUVFXB6riy1bA2",
  "tags": []
}