n8n/n8n-workflow.json
{
  "name": "Slack to Local Service Extended",
  "nodes": [
    {
      "parameters": {
        "jsCode": "if ($json[\"type\"] === \"url_verification\") {\n  return [\n    {\n      json: {\n        challenge: $json[\"challenge\"]\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: $json\n    }\n  ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -160
      ],
      "id": "784a050b-08de-4829-8f99-0390cf266b08",
      "name": "Respond to Slack Verification",
      "disabled": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://host.docker.internal:5000/receive-message",
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "attachment",
              "value": "={{  $binary.attachment0  }}"
            }
          ]
        }
      },
      "name": "Business Analyst: Raw Technical Task Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -752,
        -192
      ],
      "id": "7998f37d-8d53-4d99-9b4c-4d89ad2476aa",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5001/process-task",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { taskId: $json.taskId } }}"
      },
      "name": "Programmer: Technical Task Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -496,
        -192
      ],
      "id": "156aa4c5-1b40-40cc-9131-cd71f2683336",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5002/run-code",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { taskId: $json.taskId } }}"
      },
      "name": "Code Runner: Source Code Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -288,
        -192
      ],
      "id": "7bff5c7f-387a-408b-b16e-a060cf655589",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5001/receive-test-results",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { allTestsPassed: $json.allTestsPassed, taskId: $('Programmer: Technical Task Send').item.json.taskId } }}"
      },
      "name": "Programmer: Code Runner Result Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        160,
        -192
      ],
      "id": "7b9e4c03-a3f5-4b68-a671-4bc129a6189c",
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5000/receive-task-completion-result",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { allTestsPassed: $('Tester: Test Source Code').item.json.allTestsPassed} }}"
      },
      "name": "Business Analyst: Task Completion Result Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        416,
        -208
      ],
      "id": "dff4b107-7bfd-4805-8479-2bb31cc7c3c9",
      "continueOnFail": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09PH87TE0P",
          "mode": "id"
        },
        "text": "={{ $('Programmer: Technical Task Send').item.json.task }}\n\n{{ $('Programmer: Technical Task Send').item.json.completionResult }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        608,
        -192
      ],
      "id": "f10f1d68-b8d6-43a1-9a1e-6198076893d1",
      "name": "Send a message",
      "webhookId": "45abbc3d-4518-4137-85c3-d493c9950ca5",
      "credentials": {
        "slackApi": {
          "id": "3g4OIyDfKfAPDVBK",
          "name": "Slack account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-webhook",
        "options": {}
      },
      "name": "Webhook: Slack Raw Technical Task Receiving",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1360,
        0
      ],
      "id": "a1e78f7f-b701-4634-8d5b-d0beba2ed13a",
      "webhookId": "c077c48b-8437-4275-b5d6-a79b771e84eb",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5003/test-source-code",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { taskId: $json.taskId } }}"
      },
      "name": "Tester: Test Source Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -48,
        -192
      ],
      "id": "4c0d7114-a56b-48f1-a3c7-6e3ab371e3b2",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: $json,\n    binary: {\n      attachment: $('Webhook: Slack Raw Technical Task Receiving').item.binary.attachment\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        96
      ],
      "id": "0677029e-cd80-42ac-b2ce-48cc4d91dacd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/receive-message",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "attachment"
            },
            {
              "name": "message",
              "value": "={{ $('Webhook: Slack Raw Technical Task Receiving').item.json.body.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -464,
        64
      ],
      "id": "b9b13d87-9aa2-430a-96c1-a6e44a256784",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Respond to Slack Verification": {
      "main": [
        [
          {
            "node": "Business Analyst: Raw Technical Task Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Analyst: Raw Technical Task Send": {
      "main": [
        [
          {
            "node": "Programmer: Technical Task Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Programmer: Technical Task Send": {
      "main": [
        [
          {
            "node": "Code Runner: Source Code Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Runner: Source Code Send": {
      "main": [
        [
          {
            "node": "Tester: Test Source Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Programmer: Code Runner Result Send": {
      "main": [
        [
          {
            "node": "Business Analyst: Task Completion Result Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Analyst: Task Completion Result Send": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Slack Raw Technical Task Receiving": {
      "main": [
        [
          {
            "node": "Respond to Slack Verification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tester: Test Source Code": {
      "main": [
        [
          {
            "node": "Programmer: Code Runner Result Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ca8f883-33a3-4f29-9745-dc8a6750d2fa",
  "meta": {
    "instanceId": "eb4e11312a6611954811887d5478d8a22c8d0c00be3623bed1a2b98c1e3d5e2b"
  },
  "id": "N97dH9dZrXnHnF3a",
  "tags": []
}