n8n/n8n-workflow.json
{
  "name": "Slack to Local Service Extended",
  "nodes": [
    {
      "parameters": {
        "jsCode": "if ($input.first().json.body[\"type\"] === \"url_verification\") {\n  return {\n        challenge: $input.first().json.body.challenge\n      };  \n} else {\n  return {\n      json: $input.first().json\n    };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -384
      ],
      "id": "8043f11f-af5f-42d3-82be-b93fd3e5092f",
      "name": "Respond to Slack Verification"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5001/process-task",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "=taskId",
              "value": "={{ $json.taskId }}"
            },
            {
              "name": "validationResult",
              "value": "={{ $json.validationResult }}"
            }
          ]
        }
      },
      "name": "Programmer: Technical Task Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1136,
        -384
      ],
      "id": "f0254567-01aa-46bc-a636-cd3cc3195bc8",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5002/run-code",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { taskId: $json.taskId } }}"
      },
      "name": "Code Runner: Source Code Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -912,
        -448
      ],
      "id": "4f8da7d1-009c-4e16-973f-51f9fee96987",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5001/receive-test-results",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { allTestsPassed: $json.allTestsPassed, taskId: $('Programmer: Technical Task Send').item.json.taskId } }}"
      },
      "name": "Programmer: Code Runner Result Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -16,
        -384
      ],
      "id": "54339276-ca83-4d22-b14e-100ff412f9e9",
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5000/receive-task-completion-result",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { \"taskId\": $('Business Analyst: Raw Technical Task Send').item.json.taskId } }}"
      },
      "name": "Business Analyst: Task Completion Result Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        208,
        -384
      ],
      "id": "9ec36b34-8cd9-47bc-953b-0cf057e727da",
      "continueOnFail": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09PH87TE0P",
          "mode": "id"
        },
        "text": "=Source Code:\n\n{{ $('Business Analyst: Task Completion Result Send').item.json.sourceCode }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        656,
        -384
      ],
      "id": "d18d4cab-fbd5-4e10-92a1-a0b12b0a6320",
      "name": "Send a message",
      "webhookId": "45abbc3d-4518-4137-85c3-d493c9950ca5",
      "credentials": {
        "slackApi": {
          "id": "3g4OIyDfKfAPDVBK",
          "name": "Slack account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-webhook",
        "options": {}
      },
      "name": "Webhook: Slack Raw Technical Task Receiving",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2032,
        -384
      ],
      "id": "ad2a0ee4-830a-49da-81bd-6f5aa43a45bb",
      "webhookId": "c077c48b-8437-4275-b5d6-a79b771e84eb",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5003/test-source-code",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { taskId: $json.taskId } }}"
      },
      "name": "Tester: Test Source Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -240,
        -384
      ],
      "id": "8f11e95f-69c9-47e6-9223-515f1507abff",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: $json,\n    binary: {\n      attachment: $('Webhook: Slack Raw Technical Task Receiving').item.binary.attachment\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -384
      ],
      "id": "17024baf-a3cf-4a1d-bafd-5a9c2c8a7c93",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/receive-message",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "attachment"
            },
            {
              "name": "message",
              "value": "={{ $('Webhook: Slack Raw Technical Task Receiving').item.json.body.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1360,
        -384
      ],
      "id": "545af42e-a480-4438-9264-895f7bdd6d55",
      "name": "Business Analyst: Raw Technical Task Send"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json; // вся строка ответа\n\nconst body = raw.data; // строка multipart\nconst boundary = body.match(/--(.+?)\\r\\n/)[1];\n\n// Разбиваем части\nconst parts = body.split(`--${boundary}`).filter(p => p.trim());\n\n// Объекты для результата\nlet jsonPart = null;\nlet filePart = null;\nlet fileName = null;\nlet mime = null;\nlet fileData = null;\n\nfor (const part of parts) {\n  if (part.includes('application/json')) {\n    // JSON part\n    const jsonText = part.split('\\r\\n\\r\\n')[1].trim();\n    jsonPart = JSON.parse(jsonText);\n  }\n\n  if (part.includes('filename=')) {\n    // File part\n    const header = part.split('\\r\\n\\r\\n')[0];\n    fileData = part.split('\\r\\n\\r\\n')[1].trim();\n\n    // extract metadata\n    fileName = header.match(/filename=\"(.+?)\"/)[1];\n    mime = header.match(/Content-Type: (.+?)\\r\\n/)[1];\n\n    // convert to base64\n    filePart = Buffer.from(fileData, \"binary\").toString(\"base64\");\n  }\n}\n\nreturn [\n  {\n    json: {\n      parsedJson: jsonPart,\n      fileName,\n      mime,\n    },\n    binary: {\n      completion_result: {\n        data: filePart,\n        fileName,\n        mimeType: mime,\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -384
      ],
      "id": "1178815f-a038-4f40-8ffb-81897aef5b7b",
      "name": "Parse Multipart Response",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "={{ $json.binary.file }}",
        "options": {
          "channelId": "C09PH87TE0P"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1104,
        -384
      ],
      "id": "322fa0be-87c0-48af-9034-3df4fc8bc5c7",
      "name": "Upload a file",
      "webhookId": "9179dd21-a0f8-4a25-8258-994c97e0643a",
      "credentials": {
        "slackApi": {
          "id": "3g4OIyDfKfAPDVBK",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function Node\nconst imageBase64 =  $('Business Analyst: Task Completion Result Send').first().json.image?.data// base64\nreturn {\n  binary: {\n    file: {\n      data: imageBase64,\n      mimeType: \"image/png\",\n      fileName: \"image.png\"\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -384
      ],
      "id": "275bfcd2-68a3-4f98-8aa2-02a66251d9b2",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Проверяем ответ сервера с кодом\nconst response = $json;\nconsole.log(\"Error:\" + JSON.stringify(response?.results[0]?.error));\nconst error = response?.results[0]?.error;\n\nif (error && error !== '') {\n  // Если есть ошибка, возвращаем на Programmer: Technical Task Send\n  return [{\n    taskId: $('Business Analyst: Raw Technical Task Send').first().json.taskId,\n    validationResult: response, routeTo: 'error' }];\n} else {\n  // Если ошибки нет, передаем дальше\n  return [\n    {\n    taskId: $('Business Analyst: Raw Technical Task Send').first().json.taskId,\n      routeTo: 'success'\n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        -448
      ],
      "id": "98d659b3-604b-4955-abb4-9c635b94f3db",
      "name": "Code Node: Validate Code Runner"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ae8aa4c-4e93-4da5-ba1a-142b50d548b5",
              "leftValue": "={{ $json.routeTo }}",
              "rightValue": "={{ \"success\" }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        -368
      ],
      "id": "e31d7691-60ae-4dd6-9495-8d2a296ea135",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Loop for Code Runner Errors\nThis loop rewrite the source code and pass through the \"Code Runner\" until produce the code with no errors",
        "height": 224,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1168,
        -464
      ],
      "typeVersion": 1,
      "id": "4a65d61b-28ae-4799-89b9-2ade265c8880",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Programmer: Technical Task Send": {
      "main": [
        [
          {
            "node": "Code Runner: Source Code Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Runner: Source Code Send": {
      "main": [
        [
          {
            "node": "Code Node: Validate Code Runner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Programmer: Code Runner Result Send": {
      "main": [
        [
          {
            "node": "Business Analyst: Task Completion Result Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Analyst: Task Completion Result Send": {
      "main": [
        [
          {
            "node": "Parse Multipart Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Slack Raw Technical Task Receiving": {
      "main": [
        [
          {
            "node": "Respond to Slack Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tester: Test Source Code": {
      "main": [
        [
          {
            "node": "Programmer: Code Runner Result Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Business Analyst: Raw Technical Task Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Analyst: Raw Technical Task Send": {
      "main": [
        [
          {
            "node": "Programmer: Technical Task Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Slack Verification": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Multipart Response": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Node: Validate Code Runner": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Tester: Test Source Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Programmer: Technical Task Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c5f5f03-fe28-4aad-81d3-ee7cd973ffa5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb4e11312a6611954811887d5478d8a22c8d0c00be3623bed1a2b98c1e3d5e2b"
  },
  "id": "N97dH9dZrXnHnF3a",
  "tags": []
}