n8n/non_stop_webhook/file-transfer-workflow.json
{
  "name": "Webhook → Code → HTTP Multipart",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-webhook",
        "options": {}
      },
      "id": "f8675a29-30d7-4aca-b9e1-287db5b862a3",
      "name": "Webhook: Receive Slack",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        560,
        -80
      ],
      "webhookId": "a513374a-285b-45c2-bd66-3f61c37a082e"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "ae1f8dd3-f23d-47d4-86ac-3dcedb5ea3f5",
      "name": "Build Multipart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        864,
        -80
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:5000/receive-message",
        "options": {
          "bodyContentType": "multipart-form-data"
        }
      },
      "id": "07cc61cb-005e-4a95-9280-b08c9c32f664",
      "name": "Forward to Server",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1168,
        -80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Receive Slack": {
      "main": [
        [
          {
            "node": "Build Multipart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Multipart": {
      "main": [
        [
          {
            "node": "Forward to Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "75b9427d-448d-4839-9065-a9214f85e8bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb4e11312a6611954811887d5478d8a22c8d0c00be3623bed1a2b98c1e3d5e2b"
  },
  "id": "cE2dA9IKB4enHWnG",
  "tags": []
}